logs
*.log
npm-debug.log*
.DS_Store
.vscode/
coverage
node_modules
build
.env.local
.env.development.local
.env.test.local
.env.production.local

data

cypress/videos
cypress/screenshots
results/

eslint.xml
junit.xml

omelette
src/addons/
